# DataFrame常用的方法

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame(data={"id": [101, 102, 103,104,105,106,101], "name": ["张三", "李四", "王五","赵六","冯七","周八","张三"], "age": [10, 20, 30, 40, None, 60,10]},index=["aa", "bb", "cc", "dd", "ee", "ff","aa"])
df
# head()    查看前n行数据，默认5行
# print(df.head())
# tail()    查看后n行数据，默认5行
# print(df.tail(2))
# # isin()    元素是否包含在参数集合中
# print(df.isin([103,106,'张三',np.nan]))
# isna()    元素是否为缺失值
# print(df.isna())
# # sum() 求和
# print(df["age"].sum())
# # mean()    平均值
# print(df["age"].mean())
# # min() 最小值
# print(df["age"].min())
# # max() 最大值
# print(df["age"].max())
# print(type(df["age"]))
# # var() 方差
# print(df["age"].var())
# # std() 标准差
# print(df["age"].std())
# # median()  中位数
# print(df["age"].median())
# # mode()    众数
# print(df["age"].mode())
# # quantile()    指定位置的分位数，如quantile(0.5)
# print(df["age"].quantile(0.5))
# # describe()    常见统计信息
# df.describe(include='float64')
# info()    基本信息
# print(df.info())
# # value_counts()    每个元素的个数
# print(df.value_counts())
# # count()   非空元素的个数
# print(df.count())
# # drop_duplicates() 去重  duplicated()判断是否为重复行
# print(df.duplicated(subset="age"))
# df.drop_duplicates()
# # sample()  随机采样
# print(df.sample())
# # replace() 用指定值代替原有值
# print("----------------")
# print(df.replace(20,"haha"))
# # equals()  判断两个DataFrame是否相同
# df1 = pd.DataFrame(data={"id": [101, 102, 103], "name": ["张三", "李四", "王五"], "age": [10, 20, 30]})
# df2 = pd.DataFrame(data={"id": [101, 102, 103], "name": ["张三", "李四", "王五"], "age": [10, 20, 30]})
# print(df1.equals(df2))
# # cummax()  累计最大值
df3 = pd.DataFrame({'A': [2, 5, 3, 7, 4],'B': [1, 6, 2, 8, 3]})
# # 按列  等价于axis=0 默认
# print(df3.cummax(axis="index"))
# # 按行  等价于axis=1
# print(df3.cummax(axis="columns"))
# # cummin()  累计最小值
# print(df3.cummin())
# # cumsum()  累计和
# print(df3.cumsum())
# # cumprod() 累计积
# print(df3.cumprod())
# # diff()    一阶差分
# print(df3.diff())
# # sort_index()  按行索引排序
# print(df.sort_index())
# # sort_values() 按某列的值排序，可传入列表来按多列排序，并通过ascending参数设置升序或降序
# print(df.sort_values(by="age"))
# # nlargest()    返回某列最大的n条数据
print(df.nlargest(n=2,columns="age"))
# # nsmallest()   返回某列最小的n条数据
print(df.nsmallest(n=1,columns="age"))

# DataFrame的布尔索引

In [ ]:
df = pd.DataFrame(
    data={"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"]},
    columns=["name", "age"],
    index=[101, 104, 103, 102],
)
df["age"]>25
df[df["age"]>25]

# DataFrame的运算

In [ ]:
# 标量与每个元素进行计算
df = pd.DataFrame(
    data={"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"]},
    columns=["name", "age"],
    index=[101, 104, 103, 102],
)
df["age"] = df["age"] * 2
df

# 根据标签索引进行对位计算，索引没有匹配上的用NaN填充。
df1 = pd.DataFrame(
    data={"age": [10, 20, 30, 40], "name": ["张三", "李四", "王五", "赵六"]},
    columns=["name", "age"],
    index=[101, 102, 103, 104],
)
df2 = pd.DataFrame(
    data={"age": [10, 20, 30, 40], "name": ["张三", "李四", "王五", "田七"]},
    columns=["name", "age"],
    index=[102, 103, 104, 105],
)
df2
df1 + df2

# DataFrame的修改操作

In [ ]:
# 指定行索引
# 创建DataFrame对象的时候，可以通过index参数指定索引
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]},index=["aa", "bb", "cc", "dd"])
df

# 创建DataFrame时如果不指定行索引，pandas会自动添加从0开始的索引
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})


#通过set_index()设置行索引
df.set_index("id", inplace=True)

df.reset_index(inplace=True)



df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})
df.set_index("id", inplace=True)

df.rename(index={101: "一", 102: "二", 103: "三", 104: "四"}, columns={"age": "年龄", "name": "姓名"}, inplace=True)

df.index = ["Ⅰ", "Ⅱ", "Ⅲ", "Ⅳ"]
df.columns = ["年齡", "名稱"]

df

df["phone"] = ["13333333333", "14444444444", "15555555555", "16666666666"]

# df.drop("Ⅰ", inplace=True,axis=0)
# del df["phone"]

df.insert(0, "phone11", df["phone"])
df

# DataFrame的导出

In [76]:
import os

os.makedirs("data", exist_ok=True)

df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})
df.set_index("id", inplace=True)

# 将df数据导出到csv文件
df.to_csv("data/test.csv",encoding="gbk")

# 将df数据导出到json文件
df.to_json("data/test.json",orient="records",force_ascii=False)

# 将df数据导出到剪切板
df.to_clipboard()

# 将df数据导出到MySQL数据库
import pymysql
from sqlalchemy import create_engine
host="127.0.0.1"
port=3306
user="root"
password="123456"
database="atguigu"

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

df.to_sql("t_test",engine,if_exists="replace")

4

# DataFrame的导入

In [81]:
# df = pd.read_csv("data/test.csv",encoding="gbk")
# df = pd.read_json("data/test.json")

from sqlalchemy import create_engine
host="127.0.0.1"
port=3306
user="root"
password="123456"
database="atguigu"

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

df = pd.read_sql("t_test",con=engine)
df

    id  age name
0  101   20   张三
1  102   30   李四
2  103   40   王五
3  104   10   赵六

# DataFrame日期初识

In [91]:
df = pd.DataFrame({"gmv":[100,200,300,400],"trade_date":["2025-01-06","2023-10-31","2023-12-31","2023-01-05"]})
df["ymd"] = pd.to_datetime(df["trade_date"])
# df
df.dtypes
df['yy'],df['mm'],df['dd']=df['ymd'].dt.year,df['ymd'].dt.month,df['ymd'].dt.day

df["week"] = df["ymd"].dt.day_name()

df['quarter']=df['ymd'].dt.quarter

df['mend']=df['ymd'].dt.is_month_end
df['yend']=df['ymd'].dt.is_year_end

df["ystat"] = df["ymd"].dt.to_period("Y")
df["mstat"] = df["ymd"].dt.to_period("M")
df["qstat"] = df["ymd"].dt.to_period("Q")
df["wstat"] = df["ymd"].dt.to_period("W")

df

,gmv,trade_date,ymd,yy,mm,dd,week,quarter,mend,yend,ystat,mstat,qstat,wstat
0,100,2025-01-06,2025-01-06,2025,1,6,Monday,1,False,False,2025,2025-01,2025Q1,2025-01-06/2025-01-12
1,200,2023-10-31,2023-10-31,2023,10,31,Tuesday,4,True,False,2023,2023-10,2023Q4,2023-10-30/2023-11-05
2,300,2023-12-31,2023-12-31,2023,12,31,Sunday,4,True,True,2023,2023-12,2023Q4,2023-12-25/2023-12-31
3,400,2023-01-05,2023-01-05,2023,1,5,Thursday,1,False,False,2023,2023-01,2023Q1,2023-01-02/2023-01-08