# 该案例演示了DataFrame是由多个Series组成的

In [9]:
import pandas as pd

id_series = pd.Series([1,2,3])
name_series = pd.Series(['zs','ls','ww'])
age_series = pd.Series([22,33,25])

df = pd.DataFrame({"id":id_series, "name":name_series, "age":age_series})

df = pd.DataFrame({"id": [101, 102, 103], "name": ["张三", "李四", "王五"], "age": [20, 30, 40]})

df = pd.DataFrame({"name": ["张三", "李四", "王五"], "age": [20, 30, 40]},index=[101,102,103],columns=["age","name"])

df

     age name
101   20   张三
102   30   李四
103   40   王五

# DataFrame常用的属性

In [39]:
import pandas as pd
df = pd.DataFrame(data={"id": [101, 102, 103], "name": ["张三", "李四", "王五"], "age": [20, 30, 40]},index=["aa", "bb", "cc"])
df
# index DataFrame的行索引
# print(df.index)
# # columns   DataFrame的列标签
# print(df.columns)
# values    DataFrame的值
# print(type(df.values))
# ndim  DataFrame的维度
# print(df.ndim)
# shape DataFrame的形状
# print(df.shape)
# # size  DataFrame的元素个数
# print(df.size)
# dtypes    DataFrame的元素类型
# print(df.dtypes)
# # T 行列转置
# print(df.T)

# loc[] 显式索引，按行列标签索引或切片 逗号前是行切片规则，后是列切片规则
# print(df.loc[["aa","cc"],["name","age"]])
# print(df.loc[:,:])

# iloc[]    隐式索引，按行列位置索引或切片
# print(df.iloc[0:1])
print(df.iloc[0:3,0:3])


# print("----------")
# at[]  使用行列标签访问单个元素
# print(df.at["aa","name"])
# iat[] 使用行列位置访问单个元素
# print(df.iat[0,1])

     id name  age
aa  101   张三   20
bb  102   李四   30
cc  103   王五   40