# 透视表-睡眠质量分析

In [24]:
import pandas as pd
df = pd.read_csv("E:\\大模型课程\\05_尚硅谷大模型技术之Numpy&Pandas\\2.资料\\data\\sleep.csv")
df
# 将睡眠时间进行阶段的划分
sleep_duration_stage = pd.cut(df["sleep_duration"], [0, 5, 6, 7, 8, 9, 10, 11, 12])
# 将压力等级进行阶段的划分
stress_level_stage = pd.cut(df["stress_level"],4)
# stress_level_stage


# df["sleep_duration_stage"] = sleep_duration_stage
# df["stress_level_stage"] = stress_level_stage
# df.groupby(["sleep_duration_stage","stress_level_stage"])["sleep_quality"].mean()

# df.pivot_table(
#     values=["sleep_quality"],
#     index=[sleep_duration_stage,stress_level_stage],
#     aggfunc="mean",
#     observed=True
# )
df.pivot_table(
    values=["sleep_quality"],
    index=[sleep_duration_stage,stress_level_stage],
    columns=["occupation","gender"],
    aggfunc="mean",
    observed=True
)

                             sleep_quality                                 \
occupation                    Manual Labor           Office Worker
gender                              Female      Male        Female   Male
sleep_duration stress_level
(0, 5]         (0.991, 3.25]          6.75  7.300000      6.700000  6.000
               (3.25, 5.5]            3.30       NaN      7.100000  9.700
               (5.5, 7.75]            4.55  5.400000      5.900000  7.900
               (7.75, 10.0]           8.40  6.000000      5.180000  6.975
(5, 6]         (0.991, 3.25]          5.50  4.800000      8.200000  5.550
               (3.25, 5.5]            5.00       NaN      6.600000  7.500
               (5.5, 7.75]            6.60  5.500000      4.900000  6.100
               (7.75, 10.0]           6.15  6.800000           NaN  4.050
(6, 7]         (0.991, 3.25]          7.90       NaN           NaN    NaN
               (3.25, 5.5]             NaN  4.900000           NaN  4.250
               (5.5, 7.75]             NaN       NaN      6.000000  4.400
               (7.75, 10.0]           5.60       NaN      6.600000  5.400
(7, 8]         (0.991, 3.25]          4.40  8.000000           NaN  7.700
               (3.25, 5.5]             NaN  3.400000      5.800000  4.650
               (5.5, 7.75]             NaN  5.500000           NaN  6.600
               (7.75, 10.0]           3.80  5.750000           NaN  5.750
(8, 9]         (0.991, 3.25]          5.10       NaN           NaN    NaN
               (3.25, 5.5]            6.60  5.850000      8.650000  7.550
               (5.5, 7.75]             NaN  4.600000           NaN    NaN
               (7.75, 10.0]            NaN  6.100000      4.433333  6.500
(9, 10]        (0.991, 3.25]          8.00  8.250000      4.000000  5.800
               (3.25, 5.5]            6.60       NaN      7.500000    NaN
               (5.5, 7.75]            6.15       NaN      5.750000  4.900
               (7.75, 10.0]           5.76       NaN      5.900000  5.450
(10, 11]       (0.991, 3.25]          5.85  5.200000      3.750000  7.700
               (3.25, 5.5]            6.85  5.700000      5.275000  7.800
               (5.5, 7.75]            2.80  4.600000      6.825000    NaN
               (7.75, 10.0]           5.55  7.966667      6.633333  5.500
(11, 12]       (0.991, 3.25]          4.85       NaN      4.100000  7.725
               (3.25, 5.5]             NaN  7.500000      5.600000    NaN
               (5.5, 7.75]            3.95  7.700000           NaN  4.100
               (7.75, 10.0]           6.00  6.625000      6.066667  7.750


occupation                     Retired              Student
gender                          Female       Male    Female      Male
sleep_duration stress_level
(0, 5]         (0.991, 3.25]       NaN   6.720000  6.100000  7.400000
               (3.25, 5.5]    4.850000   6.866667  5.300000  6.700000
               (5.5, 7.75]         NaN   3.200000  6.850000  5.900000
               (7.75, 10.0]   6.600000   4.766667  7.150000       NaN
(5, 6]         (0.991, 3.25]  5.700000        NaN  8.150000  3.300000
               (3.25, 5.5]    6.700000   7.100000  9.000000       NaN
               (5.5, 7.75]    4.450000   7.000000  7.066667  7.600000
               (7.75, 10.0]        NaN        NaN  7.266667  6.975000
(6, 7]         (0.991, 3.25]  6.700000   4.200000  6.566667  8.400000
               (3.25, 5.5]         NaN   7.600000  6.900000  5.400000
               (5.5, 7.75]    7.150000        NaN  5.150000  3.700000
               (7.75, 10.0]   4.900000  10.000000  4.720000       NaN
(7, 8]         (0.991, 3.25]  8.500000   5.800000  5.700000  4.500000
               (3.25, 5.5]    6.400000        NaN       NaN  6.033333
               (5.5, 7.75]         NaN        NaN       NaN  9.400000
               (7.75, 10.0]        NaN   6.071429  4.300000  9.000000
(8, 9]         (0.991, 3.25]       NaN   4.800000  6.333333  5.300000
               (3.25, 5.5]    4.000000        NaN       NaN       NaN
               (5.5, 7.75]    5.150000   7.300000  5.450000  6.250000
               (7.75, 10.0]   7.000000   6.350000  2.000000  8.550000
(9, 10]        (0.991, 3.25]  3.700000   4.800000  6.400000  5.380000
               (3.25, 5.5]    7.100000   7.400000       NaN  5.933333
               (5.5, 7.75]    2.800000   5.700000  8.600000       NaN
               (7.75, 10.0]   7.333333  10.000000       NaN  6.050000
(10, 11]       (0.991, 3.25]  4.700000   4.700000  6.933333  8.400000
               (3.25, 5.5]    4.200000   7.000000       NaN  7.100000
               (5.5, 7.75]    8.100000   5.850000  7.800000  4.633333
               (7.75, 10.0]   9.100000   4.700000  4.300000  5.050000
(11, 12]       (0.991, 3.25]       NaN   5.850000  6.566667  7.800000
               (3.25, 5.5]         NaN        NaN       NaN  8.100000
               (5.5, 7.75]    7.550000        NaN       NaN       NaN
               (7.75, 10.0]   5.200000   4.200000  9.200000  6.300000