# 时间序列

In [ ]:
# python中的标准库  datetime
from datetime import datetime

date1 = datetime(year=2000, month=1, day=1)
date2 = datetime.now()
print(date1)  # 2000-01-01 00:00:00
print(date2)  # 2025-01-01 00:00:00
print(date1.year)  # 2000
print(date1.month)  # 1
print(date1.day)  # 1
print(date2.weekday())  # 5
print(date2.strftime("%A"))  # Saturday
print(date2 - date1)  # 18263 days, 0:00:00

In [ ]:
import pandas as pd
df = pd.read_csv("E:\\大模型课程\\05_尚硅谷大模型技术之Numpy&Pandas\\2.资料\\data\\weather.csv")
df["ymd"] = pd.to_datetime(df["date"])
df.dtypes

In [ ]:
# Pandas 日期
# print(pd.to_datetime("2015-01-01"))
# 2015-01-01 00:00:00
# print(pd.to_datetime(["4th of July, 2015", "2015-Jul-6", "07-07-2015", "20150708"], format="mixed"))

df = pd.read_csv("E:\\大模型课程\\05_尚硅谷大模型技术之Numpy&Pandas\\2.资料\\data\\weather.csv",parse_dates=[0])
df.dtypes

d = pd.Timestamp("2015-01-01 09:08:07.123456")
print(type(d))
print(d.year)  # 2015
print(d.month)  # 1
print(d.day)  # 1
print(d.hour)  # 9
print(d.minute)  # 8
print(d.second)  # 7
print(d.microsecond)  # 123456

In [ ]:

df = pd.read_csv("E:\\大模型课程\\05_尚硅谷大模型技术之Numpy&Pandas\\2.资料\\data\\weather.csv")
# df_date = pd.to_datetime(df["date"])
# timedelta = df_date - df_date[0]
# print(timedelta)

# df["date"] = pd.to_datetime(df["date"]) # 将date列转换为datetime64类型
# df
# df.set_index("date", inplace=True)  # 将date列设置为索引
# # df.info()
#
# df.loc["2013-01-01":"2013-01-06"]
# df.loc["2015-02-01"]


df_date = pd.to_datetime(df["date"])
df["timedelta"] = df_date - df_date[0]  # 得到timedelta64类型的数据
df
df.set_index("timedelta", inplace=True)  # 将timedelta列设置为索引
df.info()

In [29]:
pd.date_range("2015-07-03", "2015-07-10")
pd.date_range("2015-07-03", periods=5)
pd.date_range("2015-07-03", periods=5, freq="h")
pd.date_range("2015-07-03", periods=10, freq="QE-JAN")

df = pd.read_csv("E:\\大模型课程\\05_尚硅谷大模型技术之Numpy&Pandas\\2.资料\\data\\weather.csv")
df["date"] = pd.to_datetime(df["date"])
df.set_index("date", inplace=True)
df[["temp_max", "temp_min"]].resample("YE").mean()

             temp_max  temp_min
date
2012-12-31  15.276776  7.289617
2013-12-31  16.058904  8.153973
2014-12-31  16.995890  8.662466
2015-12-31  17.427945  8.835616